.html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}



.page {
    width: 100%;
    margin: 40px auto;   
    background-color: #dfe8eb;
    padding-top: 40px;
}


