.wrapper {
    max-width: 600px;    
    min-height: 10em;
    background-color: #e5d2b9;   
    padding: 5px 10px;
    border: 4px;
    border-style: solid;
    border-color: hsl(34, 57%, 60%);
    border-radius: 5%;    
    margin: 40px auto;
}

.wrapper__form {
    border-radius: 5%;
    padding: 15px;
    border-color: rgb(157, 124, 180);
}

.wrapper__form--choice {
    background-color: antiquewhite;
    width: 90%;
    max-width: 200px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;

}

.wrapper__button {
    background-color: hsl(34, 57%, 60%);
    padding: 5px;
    width: 90%;
    border-radius: 10px;
    margin: 10px;
}

.wrapper__button:hover {
    background-color: hsl(34, 57%, 65%);
}

.wrapper__button:active {
    background-color: hsl(34, 57%, 70%);
}

.wrapper__legend {
    background-color: hsl(34, 57%, 60%);
    border-radius: 10px;
    padding: 5px;
    color: rgb(37, 37, 37);
}

.wrapper__result {
    background-color: hsl(34, 57%, 65%);
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
}